nav.container {
    background: var(--blue);

    height: 76px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.container .div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.container .logo {
    height: 36px;
}

nav.container .quick-access {
    margin-left: 24px;
}

nav.container .access {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 16px;
}

nav.container .user-access {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav.container .user-access .access {
    font-weight: 500;
    text-align: center;
    margin-right: 0px;
}

nav.container .user-access .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

nav.container .user-access .item .circle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--white);
    border-radius: 50%;

    margin-bottom: 8px;
}

nav.container .user-access .item .circle-img .solicitacoes-icon {
    height: 16px;
}

nav.container .user-access .item .circle-img .perfil-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
