.container-filtros-contextuais {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
    margin-bottom: 16px;
}

.container-filtros-contextuais button {
    background-color: var(--white);
    border: 1px solid var(--gray-5);
    border-radius: 12px;
    color: var(--gray-3);
    padding: 12px 24px;
}

.container-filtros-contextuais button:nth-child(2) {
    margin-left: 12px;
}