#home .interesses-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 48px 0;
}

#home .interesses-container p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: var(--gray-3);
    margin-right: 16px;
}

#home .interesses-container .interesses-list-tags {
    list-style: none;
    display: flex;
}

#home .interesses-container .interesses-list-tags li {
    background: var(--blue-light);
    color: var(--black-purple);
    padding: 12px 18px;
    border-radius: 36px;
    margin-right: 12px;
}

#home .input-container {
    display: flex;
    align-items: center;

    border: 1px solid var(--gray-4);
    border-radius: 12px;
    padding: 16px;
}

#home .input-container button {
    cursor: pointer;
    background: none;
}

#home .input-container .input-search {
    margin-left: 12px;
    width: 100%;
    color: var(--black-purple);
}

#home .resultados-container {
    margin-top: 48px;
}

#home .resultados-container .item-resultado {
    display: flex;
    flex-direction: column;
}

#home .resultados-container .item-resultado h1 {
    color: var(--black-purple);
    font-size: 2.8rem;
}

#home .resultados-container .item-resultado .nav-filtros {
    margin-top: 18px;
}

#home .resultados-container .item-resultado .nav-filtros .filtro-geral {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-right: 16px;
    color: var(--gray-3);
}

#home .resultados-container .item-resultado .nav-filtros hr {
    border: 1px solid var(--gray-5);
    margin-top: 10px;
}

#home .resultados-container .item-resultado .cards {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

#home #selected {
    color: var(--blue);
}