form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

form h1 {
  color: var(--blue);
  margin-top: 64px;
}

form .columns-inputs {
  display: flex;
  flex-direction: row;
}

form .columns-inputs hr {
  border: 0.5px solid var(--gray-5);
  margin: 0 56px;
  margin-top: 56px;
  height: 328px;
}

form .div-inputs {
  display: flex;
  flex-direction: column;

  margin-top: 56px;
}

form .div-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

form button.yellow {
  background: var(--yellow);
  border: 0;
  border-radius: 12px;
  width: 155px;

  margin-top: 36px;
  margin-left: 16px;
  padding: 18px 0;
  font-size: 1.8rem;

  font-weight: 500;
  color: var(--black-purple);
}

form button.yellow:hover {
  background: var(--yellow-hover);
  cursor: pointer;
}

form button.default {
  background: var(--white);
  border: 1px solid var(--gray-4);
  border-radius: 12px;
  width: 155px;

  margin-top: 36px;
  padding: 18px 0;
  font-size: 1.8rem;

  font-weight: 500;
  color: var(--gray-3);
}

form button.default:hover {
  border-color: var(--yellow-hover);
  cursor: pointer;
}

form .div-inputs.perfil {
  border: 1px solid var(--gray-5);
  border-radius: 12px;

  padding: 28px;
  height: 328px;
}

form .div-inputs.perfil .add-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .div-inputs.perfil .label-add-perfil {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 155px;
  height: 155px;
  border: 1px solid var(--gray-5);
  border-radius: 50%;

  padding: 20px;
}

form .div-inputs.perfil .label-add-perfil label {
  color: var(--gray-2);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

form .div-inputs.perfil button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 8px;

  align-self: flex-end;
  margin-top: -36px;
  margin-right: 16px;

  background: var(--yellow);
  color: var(--black-purple);
  cursor: pointer;
}

form .div-inputs.perfil h4 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--black-purple);
  margin-top: 32px;
  text-align: center;
}

form .div-inputs.perfil p {
  font-size: 1.8rem;
  color: var(--gray-2);
  margin-top: 8px;
}
