#register-student form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#register-student form h1 {
    color: var(--blue);
    margin-top: 64px;
}

#register-student form .columns-inputs {
    display: flex;
    flex-direction: row;
}

#register-student form .columns-inputs #line-page-1 {
    border: 0.5px solid var(--gray-5);
    margin: 0 56px;
    margin-top: 56px; 
    height: 328px;
}

#register-student form .columns-inputs #line-page-1-1 {
    border: 0.5px solid var(--gray-5);
    margin: 0 56px;
    margin-top: 56px; 
    height: 580px;
}

#register-student form .columns-inputs #line-page-2 {
    border: 0.5px solid var(--gray-5);
    margin: 0 56px;
    margin-top: 56px; 
    height: 472px;
}

#register-student form .columns-inputs #line-page-2-1 {
    border: 0.5px solid var(--gray-5);
    margin: 0 56px;
    margin-top: 56px; 
    height: 264px;
}

#register-student form .div-inputs {
    display: flex;
    flex-direction: column;

    margin-top: 56px;
}

#register-student form .div-inputs.perfil {
    border: 1px solid var(--gray-5);
    border-radius: 12px;

    padding: 28px;
    height: 328px;
}

#register-student form .div-inputs.perfil .add-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-student form .div-inputs.perfil .label-add-perfil {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 155px;
    height: 155px;
    border: 1px solid var(--gray-5);
    border-radius: 50%;

    padding: 20px;
}

#register-student form .div-inputs.perfil .label-add-perfil label {
    color: var(--gray-2);
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

#register-student form .div-inputs.perfil button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 8px;

    align-self: flex-end;
    margin-top: -36px;
    margin-right: 16px;

    background: var(--yellow);
    color: var(--black-purple);
    cursor: pointer;
}

#register-student form .div-inputs.perfil h4 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--black-purple);
    margin-top: 32px;
    text-align: center;
}

#register-student form .div-inputs.perfil p {
    font-size: 1.8rem;
    color: var(--gray-2);
    margin-top: 8px;
}

#register-student form .div-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#register-student form button.yellow {
    background: var(--yellow);
    border: 0;
    border-radius: 12px;
    width: 155px;

    margin-top: 36px;
    margin-left: 16px;
    padding: 18px 0;
    font-size: 1.8rem;

    font-weight: 500;
    color: var(--black-purple);
}

#register-student form button.yellow:hover {
    background: var(--yellow-hover);
    cursor: pointer;
}

#register-student form button.default {
    background: var(--white);
    border: 1px solid var(--gray-4);
    border-radius: 12px;
    width: 155px;

    margin-top: 36px;
    padding: 18px 0;
    font-size: 1.8rem;

    font-weight: 500;
    color: var(--gray-3);
}

#register-student form button.default:hover {
    border-color: var(--yellow-hover);
    cursor: pointer;
}

#register-student .div-inputs #nao-sei {
    margin-bottom: 28px;
    margin-top: -12px;
}

#register-student .question-checkbox {
    margin-bottom: 10px;
}

#register-student .list-checkbox {
    margin-bottom: 28px;
}

#register-student .modal-header p {
    color: var(--blue);
    font-size: 2.4rem;
}