#register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register form h1 {
    color: var(--blue);
    margin-top: 64px;
}

#register form .div-inputs {
    display: flex;
    flex-direction: column;

    margin-top: 56px;
}

#register form .label-required label {
    color: var(--black-purple);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 12px;
}

#register .label-required {
    display: flex;
}

#register .label-required #required {
    color: var(--red);
    font-size: 1.6rem;
    margin-left: 4px;
}

#register form button.yellow {
    background: var(--yellow);
    border: 0;
    border-radius: 12px;
    width: 445px;

    margin-top: 36px;
    padding: 18px 0;
    font-size: 1.8rem;

    font-weight: 500;
    color: var(--black-purple);
}

#register form button.yellow:hover {
    background: var(--yellow-hover);
    cursor: pointer;
}

#register .sign-up {
    color: var(--blue);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 12px;
}

#register .sign-up:hover {
    color: var(--blue-hover);
    cursor: pointer;
}