#search .interesses-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 48px 0;
}

#search .interesses-container p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: var(--gray-3);
    margin-right: 16px;
}

#search .interesses-container .interesses-list-tags {
    list-style: none;
    display: flex;
}

#search .interesses-container .interesses-list-tags li {
    background: var(--blue-light);
    color: var(--black-purple);
    padding: 12px 18px;
    border-radius: 36px;
    margin-right: 12px;
}

#search .input-container {
    display: flex;
    align-items: center;

    border: 1px solid var(--gray-4);
    border-radius: 12px;
    padding: 16px;
}

#search .input-container button {
    cursor: pointer;
    background: none;
}

#search .input-container .input-search {
    margin-left: 12px;
    width: 100%;
    color: var(--black-purple);
}

#search .resultados-container {
    margin-top: 48px;
}

#search .resultados-container .item-resultado {
    display: flex;
    flex-direction: column;

    margin-bottom: 36px;
}

#search .resultados-container .item-resultado h1 {
    color: var(--black-purple);
    font-size: 2.8rem;
}

#search .resultados-container .item-resultado .nav-filtros {
    margin-top: 18px;
}

#search .resultados-container .item-resultado .nav-filtros  .filtros {
    display: flex;
}

#search .resultados-container .item-resultado .nav-filtros .line {
    border: 1px solid var(--gray-5);
    margin: -1px;
}

#search .resultados-container .item-resultado .cards {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

#search .nav-filtros #selected {
    font-weight: 500;
    color: var(--blue);
}
 
#search .nav-filtros hr#selected {
    border: 1px solid var(--blue);
    margin-top: 12px;
    margin-right: 16px;
    width: 75%;
    align-self: center;
}