nav.container {
    background: var(--blue);

    height: 76px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.container img {
    height: 36px;
}

nav.container .default {
    background: var(--blue);
    border: 1px solid var(--white);
    border-radius: 8px;

    padding: 12px 38px;

    font-weight: 500;
    color: var(--white);
}

nav.container .default:hover {
    border-color: var(--yellow-hover);
    cursor: pointer;
}

nav.container .yellow {
    background: var(--yellow);
    border: 0;
    border-radius: 8px;

    padding: 12px 28px;
    margin-left: 12px;
    font-size: 1.6rem;

    font-weight: 500;
    color: var(--black-purple);
}

nav.container .yellow:hover {
    background: var(--yellow-hover);
    cursor: pointer;
}